body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
  }
  
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  
  .date-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 18px;
    gap: 10px;
  }
  
  button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  .toggle-scores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .games {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
    position: relative; /* Added for loader positioning */
  }
  
  .game {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 1px solid #ccc;
    width: 80%;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.team {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.team h3 {
    margin: 0;
    font-size: 2.2rem;
}

.team-score {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}

.game-info span {
    margin: 0.2rem 0;
    color: #666;
}
  
  .team-logo {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #ddd; /* Placeholder for logo */
    border-radius: 50%;
  }
  
  .final-score {
    font-size: 24px;
    font-weight: bold;
  }
  
  .actions button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  .actions button:hover {
    background-color: #555;
  }

  .loading-animation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    z-index: 1000; /* Ensure it's on top of other content */
  }

  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #000; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }